tqdm==4.67.3
PyQt5==5.15.10
colorama==0.4.6

numpy==1.19.3
numexpr==2.8.6
scipy==1.4.1
opencv-python==4.1.0.25
scikit-image==0.14.2

h5py==2.10.0
ffmpeg-python==0.1.17
tf2onnx==1.9.3

tensorflow-gpu==2.4.0

torch==1.13.1
torchvision==0.14.1
